In [1]:
import pandas as pd
import numpy as np


grades = {'Roll No' : [i for i in range(1,51)],
          'Science' : np.random.randint(25,95,size=50),
          'Maths' : np.random.randint(25,95,size=50),
          'English' : np.random.randint(25,95,size=50)}

grades = pd.DataFrame(grades)

grades.head()

   Roll No  Science  Maths  English
0        1       25     46       49
1        2       38     70       53
2        3       72     27       83
3        4       44     91       37
4        5       70     71       37

In [4]:
def mapper(grades):
    result = []

    for _,row in grades.iterrows():
        roll_no = row['Roll No']
        for subject in ['Science','Maths','English']:
            result.append((roll_no,row[subject]))

    return result

In [5]:
mapped_output = mapper(grades)
mapped_output

[(1, 25),
 (1, 46),
 (1, 49),
 (2, 38),
 (2, 70),
 (2, 53),
 (3, 72),
 (3, 27),
 (3, 83),
 (4, 44),
 (4, 91),
 (4, 37),
 (5, 70),
 (5, 71),
 (5, 37),
 (6, 59),
 (6, 37),
 (6, 52),
 (7, 80),
 (7, 28),
 (7, 28),
 (8, 32),
 (8, 82),
 (8, 89),
 (9, 28),
 (9, 44),
 (9, 29),
 (10, 93),
 (10, 50),
 (10, 43),
 (11, 80),
 (11, 43),
 (11, 93),
 (12, 93),
 (12, 54),
 (12, 91),
 (13, 70),
 (13, 52),
 (13, 39),
 (14, 82),
 (14, 39),
 (14, 78),
 (15, 88),
 (15, 85),
 (15, 63),
 (16, 89),
 (16, 91),
 (16, 25),
 (17, 80),
 (17, 31),
 (17, 91),
 (18, 63),
 (18, 47),
 (18, 31),
 (19, 68),
 (19, 91),
 (19, 68),
 (20, 46),
 (20, 43),
 (20, 37),
 (21, 29),
 (21, 85),
 (21, 71),
 (22, 42),
 (22, 38),
 (22, 86),
 (23, 89),
 (23, 29),
 (23, 81),
 (24, 74),
 (24, 80),
 (24, 46),
 (25, 82),
 (25, 51),
 (25, 44),
 (26, 89),
 (26, 47),
 (26, 76),
 (27, 90),
 (27, 74),
 (27, 49),
 (28, 32),
 (28, 90),
 (28, 80),
 (29, 29),
 (29, 58),
 (29, 69),
 (30, 50),
 (30, 77),
 (30, 44),
 (31, 82),
 (31, 80),
 (31, 72),
 (32, 47),
 (32, 50),
 (32, 56),
 (33, 70),
 (33, 65),
 (33, 27),
 (34, 66),
 (34, 67),
 (34, 35),
 (35, 65),
 (35, 61),
 (35, 81),
 (36, 93),
 (36, 50),
 (36, 51),
 (37, 34),
 (37, 89),
 (37, 69),
 (38, 86),
 (38, 83),
 (38, 83),
 (39, 79),
 (39, 44),
 (39, 71),
 (40, 36),
 (40, 71),
 (40, 35),
 (41, 74),
 (41, 32),
 (41, 89),
 (42, 68),
 (42, 38),
 (42, 72),
 (43, 47),
 (43, 28),
 (43, 28),
 (44, 50),
 (44, 26),
 (44, 75),
 (45, 68),
 (45, 56),
 (45, 33),
 (46, 31),
 (46, 50),
 (46, 59),
 (47, 80),
 (47, 62),
 (47, 52),
 (48, 85),
 (48, 25),
 (48, 90),
 (49, 58),
 (49, 73),
 (49, 27),
 (50, 77),
 (50, 84),
 (50, 82)]

In [8]:
def shuffle_sort(mapped_output):
    result = {}

    for roll,marks in mapped_output:
        if roll in result:
            result[roll].append(marks)
        else:
            result[roll] = [marks]

    return result

In [9]:
shuffle_sort_output = shuffle_sort(mapped_output)
shuffle_sort_output

{1: [25, 46, 49],
 2: [38, 70, 53],
 3: [72, 27, 83],
 4: [44, 91, 37],
 5: [70, 71, 37],
 6: [59, 37, 52],
 7: [80, 28, 28],
 8: [32, 82, 89],
 9: [28, 44, 29],
 10: [93, 50, 43],
 11: [80, 43, 93],
 12: [93, 54, 91],
 13: [70, 52, 39],
 14: [82, 39, 78],
 15: [88, 85, 63],
 16: [89, 91, 25],
 17: [80, 31, 91],
 18: [63, 47, 31],
 19: [68, 91, 68],
 20: [46, 43, 37],
 21: [29, 85, 71],
 22: [42, 38, 86],
 23: [89, 29, 81],
 24: [74, 80, 46],
 25: [82, 51, 44],
 26: [89, 47, 76],
 27: [90, 74, 49],
 28: [32, 90, 80],
 29: [29, 58, 69],
 30: [50, 77, 44],
 31: [82, 80, 72],
 32: [47, 50, 56],
 33: [70, 65, 27],
 34: [66, 67, 35],
 35: [65, 61, 81],
 36: [93, 50, 51],
 37: [34, 89, 69],
 38: [86, 83, 83],
 39: [79, 44, 71],
 40: [36, 71, 35],
 41: [74, 32, 89],
 42: [68, 38, 72],
 43: [47, 28, 28],
 44: [50, 26, 75],
 45: [68, 56, 33],
 46: [31, 50, 59],
 47: [80, 62, 52],
 48: [85, 25, 90],
 49: [58, 73, 27],
 50: [77, 84, 82]}

In [16]:
def reducer(shuffle_sort_output):
    result = {'Roll No': [],
              'Total': [],
              'Grade': []}

    for roll,marks in shuffle_sort_output.items():
        result['Roll No'].append(roll)

        result['Total'].append(sum(marks))

        if result['Total'][-1] > 210:
            result['Grade'].append('A')
        elif 150 < result['Total'][-1] < 210:
            result['Grade'].append('B')
        else:
            result['Grade'].append('C')

    result = pd.DataFrame(result)

    return result

In [17]:
reducer_output = reducer(shuffle_sort_output)
reducer_output

    Roll No  Total Grade
0         1    120     C
1         2    161     B
2         3    182     B
3         4    172     B
4         5    178     B
5         6    148     C
6         7    136     C
7         8    203     B
8         9    101     C
9        10    186     B
10       11    216     A
11       12    238     A
12       13    161     B
13       14    199     B
14       15    236     A
15       16    205     B
16       17    202     B
17       18    141     C
18       19    227     A
19       20    126     C
20       21    185     B
21       22    166     B
22       23    199     B
23       24    200     B
24       25    177     B
25       26    212     A
26       27    213     A
27       28    202     B
28       29    156     B
29       30    171     B
30       31    234     A
31       32    153     B
32       33    162     B
33       34    168     B
34       35    207     B
35       36    194     B
36       37    192     B
37       38    252     A
38       39    194     B
39       40    142     C
40       41    195     B
41       42    178     B
42       43    103     C
43       44    151     B
44       45    157     B
45       46    140     C
46       47    194     B
47       48    200     B
48       49    158     B
49       50    243     A